

<nav class="top-nav">
  <ul>
    <li routerLink="/about-me" routerLinkActive="actived">About me</li>
    <li routerLink="/projects" routerLinkActive="actived">Projects</li>
    <li routerLink="/create-project" routerLinkActive="actived">Create new project</li>
    <li routerLink="/contact" routerLinkActive="actived">Contact</li>
  </ul>
</nav>


<section class="main-container">
  <div class="pages">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ducimus labore a distinctio eos expedita dolorem minus ad earum,
    corrupti voluptatibus pariatur iusto,
    consectetur cum nam sit minima inventore molestias veritatis?</p>
  </footer>
</section>

