
<div class="about-me-container">
    <h2 class="title">{{title}}</h2>
    <p class="subtitle"><strong>{{subtitle}}</strong></p>
    <a class="redirect-to-github" href="https://github.com/CoderNuby">Visite my repositories</a>

    <section class="main-text">
        <h3>Lorem ipsum</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus labore a distinctio eos expedita dolorem minus ad earum,
            corrupti voluptatibus pariatur iusto,
            consectetur cum nam sit minima inventore molestias veritatis?
        </p>
    </section>
</div>
